---
- name: Configure LXC Containers
  hosts: all
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install curl
      apt:
        name: curl
        state: present
